body {
	width: 100%;
    height: 100%;
	border: 2px solid black;
}
header, main, footer {
    flex-shrink: 0;
}

.pagetotal {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*<!-- navbar >*/
.boutonshd {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/*.boutonappli {
*/



/*<!-- corp de page>*/
.nouvelle_fenetre {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.logo, .zonedesaisie {
	display: flex;
	justify-content: center;
}

.deuxboutons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px solid black;

}





/*<!-- bas de page>*/
.footer2 {
  display: flex;
	justify-content: center;

align-items: flex-end;

}